body{
    background-color: #000;
    height: 20000px;
  width: 100vw;
  overflow: hidden;
}
/* 博士對話框 */
#welcome{
    position: fixed;
    /* background-image: url("../img/covid19/first_bg.png") ; */
    z-index: 10;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    
}
.first_bg{
    position: absolute;
    background: -webkit-linear-gradient(#00060A,#001C2B);
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
}
.first_boxall{
    width: 46vw;
    height:10.7vw;
    position: relative;
    top:50%;
    left:50%;
    z-index: 2;
    transform:translate(-50%,-50%);
}
.first_box{
    width: 100%;
    position: absolute;
  
}

.dr_talk{
   height: 65%;
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: 10;
}
@media (min-width: 1200px) {
    .dr_talk{
        height: 70%;
         position: absolute;
         right: 10%;
         bottom: 0px;
         z-index: 10;
     } 
}
.first_button{
    width: 15%;
    position: absolute;
bottom: -7%;
left: 50%;
transform:translate(-50%,0%);
 
}
.shade{
    opacity: 0.5;
}

/* 開投影機 */
.lib_cont{
height: 100vh;
position: fixed;
z-index:9 ;
width: 100vw;
}
/* .lib_trigger的height可以控制scroll速率，
.lib_moveY的height跟lib的位移距離有關 */
.machine{
    width: 20vw;
    height: 30vw;
    /* background-color: #fff; */
    left: 50vw;
    position: absolute;
    bottom: 10vw;
    transform:translate(-50%,0%);
}
.twocircle{
    left: 50%;
    transform:translate(-50%,0%);
    position: absolute;
    bottom:0.15vw;
    width: 98%;
}
.light_1{
    left: 50%;
    transform:translate(-50%,0%);
    position: absolute;
    bottom:3.8vw;
    width: 80%;

}
.light_2{
    left: 50%;
    transform:translate(-50%,0%);
    position: absolute;
    bottom:2vw;
    width: 57%;
}
.light_3{
    left: 50%;
    transform:translate(-50%,0%);
    position: absolute;
    bottom:0px;
    width: 103%;
}
.big_virus{
 left: 50%;
 transform:translate(-50%,0%);
   position: absolute;
   /* w/h=1.158 */
   width: 18.5vw;
   height: 16vw;
   bottom: 17vw;
   -webkit-filter: blur(0px);
   
}


.lib_trigger{
    height: 1200px;
    width: 300px;
    background-color: rgb(40, 219, 49);
}
.lib_tri_cont{
   
    width: 600;
    display: flex;
    flex-direction:row
}
.virus_trigger{
    height: 2000px;
    width: 300px;
    background-color: yellow;
}
.know_trigger{
    height: 2000px;
    width: 300px;
    background-color: rgb(0, 255, 242);
}
.lib{
    
    position: absolute;
    bottom:0% ;
    width: 100vw;
}
.lib_moveY{
    
    height: 1000px;
    width: 1px;
    }
    
@media (min-width: 1080px) {
    .lib{
        position: absolute;
        bottom:-9% ;
        width: 100vw;
       
    }
    .lib_trigger{
        height: 1000px;
        
        background-color: red;
    }
    .lib_moveY{
    position: absolute;
    height: 1450px;
    }
}
@media (min-width: 1420px) {
    .lib{
        position: absolute;
        bottom:-16% ;
        width: 100vw;
       
    }
    .lib_trigger{
        height: 1000px;
       
        background-color: rgb(38, 0, 255);
    }
    .lib_moveY{
    position: absolute;
    height: 1450px;
    }
    .machine{
        width: 20vw;
        height: 30vw;
     
        left: 50vw;
        position: absolute;
        bottom: 10vw;
        transform:translate(-50%,0%);
        
    }
}

@media (max-width: 880px) {
    .lib{
        position: absolute;
       transform:scale(1.2);
       
    }
}
.sq1{
    height: 100vh;
    width: 100vw;
    background-color: green;
    z-index:0 ;
}

/* 病毒介紹 */
.introduction_cont{
/* background: -webkit-linear-gradient(#11194f,#040829); */
   /* background:-webkit-linear-gradient(#00060A,#001C2B);    */
position: fixed;
height:100vh;
width: 100vw;
z-index: 7;
bottom: 0;
left:  0;
}
.know_tri_cont{
    width: 600;
    display: flex;
    flex-direction:row;
    background-color: red;
    height: 4500;

}
.know_trigger{
    height: 100px;
        margin-top: 500px;
        background-color: yellow;
        width: 200px;
}
.virus_trigger2{
    top:1000px;
    position: relative;
        height: 1400px;
        width: 300px;
        background-color: rgb(110, 196, 146);
}
.know_trigger2{
   top:1700px;
    height: 800px;
        margin-top: 500px;
        background-color: rgb(91, 102, 245);
        width: 200px;
        position: relative;
}
/* .knowborder{
    left: 50%;
    top: 50%;
   border:2px solid white;
   width: 80vw;
   height: 75vh;
   transform:translate(-50%,-50%);
   position: absolute;
   border-radius: 40px;
} */
.knowborder2{
    background-image: url("../img/covid19/know_border.svg");
    width: 87vw;
    height: 78vh;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
   position: absolute;
   background-repeat:no-repeat;
   background-position:center;
}
.know_text{
    width: 45%;
    position: absolute;
    right: 10%;
    top:50%;
    transform:translate(0%,-50%);
}
.virus_trigger3{
    top:1750px;
     height: 800px;
         margin-top: 500px;
         background-color: rgb(236, 180, 25);
         width: 200px;
         position: relative;
 }
 .world_tri_cont{
    width: 600;
    display: flex;
    flex-direction:row;
    background-color: rgb(119, 0, 255);
margin-top: 1500px;
}
.virus_trigger4{
    height: 530px;
    background-color: rgb(236, 25, 201);
    width: 200px;
    position: relative;
}
.virus_trigger5{
    top:1000px;
    height: 1000px;
    background-color: rgb(236, 25, 78);
    width: 200px;
    position: relative;
}
.world_trigger1{
top:300px;
    height:800px;
    background-color: rgb(236, 222, 25);
    width: 200px;
    position: relative;
}
.world_cont{
      
      /* background:-webkit-linear-gradient(#00060A,#001C2B); */
position: fixed;
height:100vh;
width: 100vw;
z-index: 6;
bottom: 0;
left:  0;
}
.maplottie{
    position: absolute;
    left: 50vw;
    /* top:0; */
    top:100vh;
    width: 100%;
    transform:translate(-50%,0%);
}
.world_trigger2{
    top:1000px;
    height: 1500px;
    background-color: rgb(236, 25, 78);
    width: 200px;
    position: relative;
}