
body{
    background-color: #000;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
img{
    user-select: none;
    /* 關閉選取功能 */
}
div{
    -webkit-user-select: none;
     /* 關閉選取功能 */
}
a{
    -webkit-user-select: none;
}
#container{
height: 45vw;
width: 80vw;
max-height: 100vh;
overflow: hidden;

margin:auto auto;
max-width: 177.777vh;
}
.black_sq{
    position: absolute;
width: 100%;
height: 200px;
top: 98%;
background-color: #000;
left: 0;
}
.posa{
    position: absolute;
    
}
.new_bg{
    /* background-image: url(./img/n_main/n_home_bg.svg); */
    position: relative;
    width: 80vw;
  height: 46vw;
background-color: #000;
    max-height: 98vh;
    max-width:170vh ;
    overflow: hidden;
    
}
.bg{
    
   bottom: 0px;
   left: 0px;

width: 80vw;

max-width:170vh ;

}
.dr{
    width: 14%;
    left: 54%;
    bottom: 14%;
}
.stu{
    width: 24%;
    left: 5%;
    bottom: -18%;
}
.umbr{
    width: 7%;
    left: 71%;
    bottom: 15.4%
}
.man{
    width: 8.5%;
    left: 84%;
    bottom: -22%
}
.door_light{
    width: 40.08%;
    left: 30%;
    bottom: 16.5%;
    opacity:0;
}
.intr{
    height: 53%;

    width: 25%;
    left: 34.6%;
    bottom: 23.5%
}
.virus{
width: 3.1%;
}
.v1{
left: 2%;
top: 80%;
width: 3.3%;
}

    .v2{
 left: 16%;
 top: 58%;
 width: 3%;
 }
.v3{
left: 14%;
top: 57%;
width: 2.5%;
}
.v4{
    left: 29%;
    top: 39%;
    width: 2.5%;
    }
 .v5{
    left: 46%;
    top: 49%;
    width: 2.7%;
} 
  .v6{
        left: 52%;
        top: 58%;
    width: 3%;    
    } 
 .v7{
        left: 54%;
        top: 28%;
        width: 2.4%;
        } 
 .v8{
        left: 69%;
        top: 76%;
        } 
 .v9{
        left: 74.3%;
        top: 74%;
        width: 2.5%;
        } 
 .v10{
        left: 80%;
        top: 44%;
        width: 2.8%;
        } 
 .v11{
        left: 90%;
        top: 83%;
        width: 3.4%;
        } 
 .v12{
        left: 95%;
        top: 5%;
        }  
 .v13{
        left: 6%;
        top: 2%;
        width: 3.4%;
        }   
.stu_t1_all{
    width: 13vw;
    
    /* background-color: #fff; */
    left: 28%;
    top: 56%;
    display: none;
}

.stu_cs1{
    width: 100%;
}
/* .stu_t1_c{
    width: 100%;
}
.stu_t1{
    width: 70%;
    left: 25%;  
   transform: translate(0,2%);
}
.stu_t1 p{
  font-size: 0.5vw;
    font-weight: 800;
}
         */
.stu_t2_all{
    width: 5vw;
    
    /* background-color: #fff; */
    left: 13%;
    top: 65%;
    display: none;
}        
.man_t1_all{
    width: 11.4vw;
    
    /* background-color: #fff; */
    left: 69%;
    top: 58%;
    display: none;
}
.stu_st1_all{
    width: 4.5vw;
    
    /* background-color: #fff; */
    left: 28%;
    top: 63%;

}
.stu_st2_all{
    width: 4.5vw;
    
    /* background-color: #fff; */
    left: 13%;
    top: 66%;

}
.man_st1_all{
    width: 4.5vw;
    
    /* background-color: #fff; */
    left:77%;
    top: 63%;

}
.dr_st1_all{
    width: 4.5vw;
    
    /* background-color: #fff; */
    left:67%;
    top: 34%;

}
.dr_t1_all{
    width: 13vw;
    
    /* background-color: #fff; */
    left: 66.5%;
    top: 26%;
    display: none;

}
.dr_t2_all{
    width: 16vw;
    
    /* background-color: #fff; */
    left: 39.5%;
    top: 25%;
  
    display: none;

}
.c_all{
    display: flex;
position: absolute;
left: 50%;
top: 0.65vw;
transform: translate(-43%,0);
display: flex;

justify-content: space-between;
width: 50%;
}
.cc{
    background-color: #000;
    border-radius: 50%;
    width: 0.4vw;
    height: 0.4vw;
  opacity: 0;
    z-index: 2;
}
.man_st1_all .c_all{
    display: flex;
position: absolute;
left: 50%;
top: 0.65vw;
transform: translate(-63%,0);
display: flex;

justify-content: space-between;
width: 50%;
}
.facemask1{
    width: 3.1vw;
    left: 21.2%;
    top: 68.5%;
    opacity: 0;
}
.facemask2{
    width: 3.1vw;
    left: 7.7%;
    top: 68.3%;
    opacity: 0;
}
.facemask3{
    width: 2.3vw;
    left: 61.3%;
    top: 38.97%;
    opacity: 0;
}
.facemask4{
    width: 2.86vw;
    left: 84.77%;
    top: 65.8%;
    opacity: 0;
}



        
.screen_pos{
    position: relative;
    top:30%;
    left:20%
    }
.screen{
top: 50%;
left:50%;
transform:translate(-50%,-50%);
    width: 41%;
}
.screen_light{
    width: 44%;
    top: 50%;
left:50%;
transform:translate(-50%,-50%);

}
.elvis_pos{
    position: relative;
    top:50%;
    left:-20%;
}
.elvis{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 18%;
}
.elvis_light{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 20.43%;
}
.ivy_pos{
    position: relative;
    top:61%;
    left:1%;
}
.ivy{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 18%;
}
.ivy_light{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 20.5%;
}
.left_table{
    position: relative;
    top:60%;
    left:-3%;
    width: 73%;;
}
.elvis_name{
    position: relative;
    top:34%;
    left:-53%;
    width: 6%;
}
.nb{
    position: relative;
    
    top:-2.5%;
    left:-73%;
    width:9.5%;
   
}
.right_table{
    position: relative;
    top:36%;
    left:37%;
   width: 78%;
}
.ivy_name{
    position: relative;
    top:-3%;
    left:-48%;
    width: 6%;
}
.bottle_1{
    position: relative;
    top:-9%;
    left:45%;
    width: 6%;
}
.bottle_2{
    position: relative;
    top:-9%;
    left:50%;
    width: 10%;
}
.david_name{
    position: relative;
    top:-9%;
    left:53%;
    width: 7%;
}
.david_pos{
    position: relative;
    top: -28%;
    left:88%;
    transform:translate(-50%,-50%);
   
}
.david{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 17%;
}
.david_light{
    top: 50%;
    left:50%;
    transform:translate(-49.8%,-50%);
    width: 21.45%;
}
.question_cont{
    position: absolute;
   background-color: rgba(2, 2, 10, 0.548);
    height: 40%;
    width: 40%;
    left: 17%;
    top: 20%;
border-radius: 2vw;
border: #0e3a5e 5px solid;
display: flex;
align-items: center;
justify-content: center;

}
.text_cont{

width: 87%;
height: 80%;

}
.step1cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hello{
color: aliceblue;
font-weight: 800;
font-size: 1.4rem;
}
.first_btn{
    width: 23%;
    cursor: pointer;
}
.step1{
    /* display: none; */
}
.step2{
    display: none;
}
.step3{
    display: none;
}
.step4{
    display: none;
}
.step5{
    display: none;
}
.step6{
    display: none;
}
.step7{
    display: none;
}
.step8{
    display: none;
}
@media (max-width: 1331px) {
    .hello{
        color: aliceblue;
        font-weight: 800;
        font-size: 1.2rem;
        }
    .first_btn{
            width: 28%;
            
    }
}
@media (max-width: 900px) {
    .hello{
        color: aliceblue;
        font-weight: 800;
        font-size: 1rem;
        }
}
.font{
    font-size: 1.2rem;
    color: aliceblue;
}
.step2-4cont{
    width: 100%;
    height: 100%;
    
    
}
.qst_sq{
height:25%;
display: flex;
align-items: center;
}

.qst_sq p{
    color: aliceblue;
  margin: 0;
  margin-left: 5%;
}
 .slc:hover{
   background-color: rgba(255, 255, 255, 0.432);
    }
    /* .slc:hover{
        background-color: rgba(216, 119, 119, 0.781);
         }
    .asw3{
        background-color: rgba(20, 255, 137, 0.815);
    } */
@media (max-width: 1331px) {
    .qst_sq p{
       font-size: 1rem;
    }
}
.wrong_num{
    color:rgb(252, 69, 56)
}
.right_num{
    color:rgb(35, 255, 101)
}
.block{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display:none;
    z-index: 4;
}
.replay_btn{
    width: 10%;
    position: absolute;
    bottom:10%;
    left: 50%;
    transform: translate(-50%,0);
}